# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build outputs
dist/

# Project specific
cdn_status.js
ww$$$.json

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# Mac OS specific files
.DS_Store

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Lock files (uncomment if you want to ignore)
# package-lock.json
# yarn.lock